<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Shortening</title>
</head>
<body>
    <H1>무신사 과제테스트, URL Shortening</H1>
    <form action="/convert" method="get">
        <label for="url">Input URL: </label><input type="text" id="url" name="url"/>
        <button type="submit">요청</button> <br>
        Shortened URL: <p th:text="${resultShortenedUrl}"></p>
        URL Request Count: <p th:text="${resultRequestCount}"></p>
    </form>
</body>
</html>
